html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Objective", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #0f001a;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0px 120px;
  margin-left: auto;
  margin-right: auto;
}

header#site-header .container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  background-color: rgba(74, 153, 211, 0.2);
}
header#site-header .container .nav-list {
  display: flex;
  list-style-type: none;
  gap: 60px;
}
header#site-header .container .nav-list li:first-child {
  color: #4A99D3;
}
header#site-header .container .nav-list a {
  text-decoration: none;
  color: inherit;
}

section#hero-section .container {
  padding-top: 91px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(rgba(74, 153, 211, 0.25) -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF;
}
section#hero-section .container .left h1 {
  margin-top: 75px;
  width: 493px;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;
}
section#hero-section .container .left h1 span {
  color: #D81B60;
}
section#hero-section .container .left p {
  margin-top: 14px;
  width: 636px;
  font-size: 20px;
  line-height: 36px;
}
section#hero-section .container .left .hero-links {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

section#services .container {
  padding-top: 146px;
}
section#services .container h2 {
  width: 395px;
  font-size: 36px;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 0.05em;
}
section#services .container .cards-wrapper {
  margin-top: 84px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
section#services .container .cards-wrapper .card {
  width: 380px;
  padding: 48px;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  border-radius: 10px;
}
section#services .container .cards-wrapper .card:nth-child(3n-1) {
  padding-top: 0px;
}
section#services .container .cards-wrapper .card p {
  margin-top: 56px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.02em;
}
section#services .container .cards-wrapper .card span {
  display: block;
  margin-top: 16px;
  opacity: 0.6;
}
section#services .container .cards-wrapper .card a {
  display: block;
  margin-top: 62px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #4A99D3;
}
section#services .container .cards-wrapper .card a i {
  margin-left: 19px;
}

section#how-work .container {
  margin-top: 90px;
  text-align: center;
  padding-top: 95px;
  background: rgba(74, 153, 211, 0.1);
}
section#how-work .container h3 {
  font-size: 26px;
  font-weight: 700;
  line-height: 27px;
}
section#how-work .container .actions-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 88px;
  gap: 106px;
}
section#how-work .container .actions-wrapper .actions {
  width: 257px;
  text-align: center;
}
section#how-work .container .actions-wrapper .actions p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}

section#client-say .container {
  margin-top: 87px;
}
section#client-say .container h3 {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
}
section#client-say .container .flex {
  margin-top: 11px;
  display: flex;
}
section#client-say .container .flex .right {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 197px;
  margin-left: 100px;
  width: 418px;
}
section#client-say .container .flex .right span {
  opacity: 0.5;
}
section#client-say .container .flex .right p {
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}

section#download .container {
  padding-top: 158px;
  display: flex;
  align-items: center;
}
section#download .container .right {
  width: 444px;
  margin-left: 99px;
  text-align: center;
}
section#download .container .right h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
}
section#download .container .right p {
  margin-top: 16px;
  opacity: 0.5;
}
section#download .container .right .links {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer#site-footer .container {
  margin-top: 125px;
  padding-top: 55px;
  background-color: #4A99D3;
  color: #ffffff;
}
footer#site-footer .container .f-wrapper {
  display: flex;
}
footer#site-footer .container .f-wrapper img {
  margin-right: 87px;
}
footer#site-footer .container .f-wrapper div {
  margin-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
footer#site-footer .container .f-wrapper div p {
  margin-bottom: 16px;
  border-bottom: 2px solid #ffffff;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}
footer#site-footer .container .f-wrapper div span {
  font-size: 14px;
  line-height: 14px;
}
footer#site-footer .container .text {
  margin-left: 79px;
  width: 364px;
  font-size: 18px;
  line-height: 26px;
}
footer#site-footer .container .line {
  margin-top: 23px;
  height: 1px;
  background-color: #ffffff;
}
footer#site-footer .container .copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}
footer#site-footer .container .copyright span {
  font-weight: 700;
  font-size: 10.41px;
  line-height: 11px;
}/*# sourceMappingURL=main.css.map */